<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration prototype="New_prototype" type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.debug.core.ATTR_PROTOTYPE" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;launchConfiguration local=&quot;true&quot; path=&quot;New_prototype&quot;/&gt;&#13;&#10;"/>
<booleanAttribute key="org.eclipse.debug.core.IS_PROTOTYPE" value="false"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value=""/>
</launchConfiguration>
